# fly.toml app configuration file generated for full-stack-open-pokedex-little-thunder-8381 on 2025-12-24T09:33:03Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'full-stack-open-pokedex-little-thunder-8381'
primary_region = 'cdg'

[build]

[env]
  PORT = "5001" # add this

[processes]
  app = "node app.js" # add this

[http_service]
  internal_port = 5001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
