name: deployment pipeline

on:
    push:
        branches:
            - main

jobs:
    simple_deployment_pipeline:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: '20'
            - uses: pnpm/action-setup@v3
              with:
                version: 9

            - name: install dependencies
              run: pnpm i

            - name: check styles
              run: pnpm run eslint

            - name: build
              run: pnpm run build

            - name: test
              run: pnpm run test